*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Raleway', sans-serif;
}

.header{
    background-image: linear-gradient(to top, rgba(255, 241, 235, 0.705) 0%, rgba(172, 225, 249, 0.705) 100%), url("../img/headerbackground.jpg");
    width: 100%;
    height: 650px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}

.textos-header{
    height: 500px;
    color: #3f3a3a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textos-header h1{
    font-size: 60px;
}

.textos-header p{
    font-size: 25px;
    margin-bottom: 20px;
}

.textos-header a{
    display: inline-block;
    text-decoration: none;
    padding: 12px 15px;
    background: #3f3a3a;
    border-radius: 8px;
    color: aliceblue;
}

.svg-header{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

/*Estilops generales*/

.contenedor, 
.wavecontenedor{
    width: 90%;
    max-width: 1000px;
    overflow: hidden;
    margin: auto;
    padding: 0 0 80px o;
}

.contenedor{
    padding: 80px 0;
    width: 90%;
}

.titulo{
    font-weight: 300;
    font-size: 35px;
    text-align: center;
    margin-bottom: 30px;
}

.titulo.left{
    text-align: left;
}

/* Section */

.website{
    display: flex;
    justify-content: space-between;
}

.website img{
    width: 40%;
    margin-bottom: 30px;
}

.website .contenedor-textos-main{
    width: 40%;
}

.parrafo{
    text-align: justify;
    margin-bottom: 20px;
}

.cta{
    display: inline-block;
    text-decoration: none;
    background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);;
    padding: 12px 15px;
    border-radius: 8px;
    color: #fff;
    margin-top: 20px;
}

/* Info */

.hobbies{
    background: #13547a;
    color: #fff;
}

/* Cards */

.content-cards{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.cards{
    width: 30%;
    text-align: center;
    height: 350px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .5);
    transform: scale(1);
    transition: transform 0.6s;
}

.cards:hover{
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    transform: scale(1.03);
    cursor: pointer;
}

.cards i{
    margin: 30px 0 20px 0;
    color: teal;
    font-size: 50px;
}

.cards p{
    font-weight: 200;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

/*info2*/
.last-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 40px;
}

.last-section img{
    width: 48%;
}

.last-section .contenedor-textos-main{
    width: 40%;
}

/*Footer*/
footer{
    background: #13547a;
    color: #fff
}

.form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.input{
    background: transparent;
    border: 0;
    color: #fff;
    outline: none;
    border: 1px solid #fff;
    padding: 20px 10px;

}

.input::placeholder{
    color: #fff;
    font-family: 'raleway', 'sans-serif';
}

input[type="text"], 
input[type="email"]{
    display: inline-block;
    width: 49%;
    margin-bottom: 30px;
}

.form textarea{
    width: 100%;
    margin-bottom: 15px;

}

input[type="submit"]{
    width: 120px;
    text-align: center;
    padding: 14px 0;
}

input[type="submit"]:hover{
    cursor: pointer;
    color: grey;
    background: #fff;
}
